<h2 class="post-title">ユーザー一覧</h2>


  <div class="post-preview">
    <% @users.each do |user| %>
      <p class="usersName">
        <img src="<%= "/user_images/#{user.image_name}" %>">
        <%= link_to(user.name, "/users/#{user.id}") %>
      </p>
        <% end %>
  </div>

  <hr>



<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary btn-origin float-right" href="#">NEXT &rarr;</a>
</div>