テスト

<% @users.each do |user| %>
  <div class="post-preview">
      <h2 class="post-title">
        <a class="btn btn-primary btn-origin" href="#">スポンサー契約</a>
        <%= link_to(users.name, "/users/#{user.id}") %>
      </h2>
      <h3 class="post-subtitle">
         <a class="btn btn-primary btn-origin" href="#">解決</a>中身テキストテキストテキストテキストテキストテキスト...
      </h3>
    <p class="post-meta">Posted by
      <a href="#">Start Bootstrap</a>
      on September 24, 2019 </p>
  </div>
  <hr>
<% end %>

<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary btn-origin float-right" href="#">NEXT &rarr;</a>
</div>

<hr>