<%
  posts = [
    "プロになる近道はありますか？",
    "早く上手くなりたいのですがどうしたらいいですか"
    ]
%>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <%= form_tag("/posts/create") do %>

       <textarea name = "content"></textarea>

          <input type="submit" value="投稿">

          <% end %>
        <hr>



        <!-- Pager -->

      </div>
    </div>
  </div>

  <hr>
