
  <!-- Page Header -->
  <header class="masthead" style="background: image-url('/home-bg.jpg')">

  <!-- background-image: url('/images/home-bg.jpg')"> -->
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto">
          <div class="site-heading">
            <span class="subheading">アスリート特化型Q&Aアプリ
            </span>
            <h1>BATON</h1>
             <span class="subheading">
              価値のある経験を引き出そう！
             </span>
             <span class="subheading">
             成功の近道は知ること
             </span>
             <span class="subheading">
             - Connecting The Dots -
             </span>
             <span class="subheading">
             - For NEXT ATHLETE -
             </span>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 mx-auto">
          <div class="site-heading">
            <span class="subheading">ログイン</span>
          </div>
      </div>
    </div>
    </div>
  </header>

<%
  posts = [
    "プロになる近道はありますか？",
    "早く上手くなりたいのですがどうしたらいいですか"
    ]
%>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <%= form_tag("/posts/create") do %>

       <textarea></textarea>

          <input type="submit" value="投稿">

          <% end %>
        <hr>



        <!-- Pager -->

      </div>
    </div>
  </div>

  <hr>
