  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
             <%= @post.content %>
            </h2>
            <p class="post-subtitle">
              質問中身テキストテキストテキストテキストテキストテキスト...
            <p>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
              <p><%= @post.created_at %></p>
        </div>
        <hr>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary btn-origin float-right" href="#">NEXT &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
