<div class="post-preview">
  <h2 class="post-title">
   <%= @post.content %>
  </h2>
    <p class="post-subtitle">
      質問中身テキストテキストテキストテキストテキストテキスト...
    <p>
    <p class="post-meta">
      Posted by
    </p>
    <a href="#">
    Start Bootstrap
    </a>
  <p><%= @post.created_at %></p>
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post", data: {confirm: "質問が削除されますがよろしいでしょうか？"}}) %>
</div>
<hr>

<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary btn-origin float-right" href="#">NEXT &rarr;</a>
</div>

<hr>