// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header.masthead {
  background: image-url('47317314.jpg')no-repeat center;
  background-size: cover;
  margin-bottom: 20px;
}